body {
	margin: 5px;
	padding: 0;
	overflow: hidden;
}
p {
	font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	margin: 0;
	padding: 0 0 8px 0;
}
.small { font-size: 12px; }
.num { 
	display: block;
	font-size: 60px;
	font-weight: bold;
}
