body { color: #1D1D1D; }
.panel-bg {
	background: -moz-linear-gradient(left, rgba(40,134,182,1) 0%, rgba(16,85,128,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(40,134,182,1)), color-stop(100%,rgba(16,85,128,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(40,134,182,1) 0%,rgba(16,85,128,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(40,134,182,1) 0%,rgba(16,85,128,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(40,134,182,1) 0%,rgba(16,85,128,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(40,134,182,1) 0%,rgba(16,85,128,1) 100%); /* W3C */
}

.panel .time { color: #186EA8; }
