html {
    height: 100%;
    margin: 0;
    padding: 0;
}


.dashboard {
	background-color: #353637;
	height: 100%;
}

body {
    color: #5A6066;
    font: 14px "Open Sans", Arial, sans-serif;
    height: 100%;
    line-height: 1.5;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

/* Panel */
/*********/


.panel-bg {
    background: #353637;
    background: -moz-radial-gradient(center, ellipse cover, #4c4d4e 0%, #303131 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #4c4d4e), color-stop(100%, #303131));
    background: -webkit-radial-gradient(center, ellipse cover, #4c4d4e 0%, #303131 100%);
    background: -o-radial-gradient(center, ellipse cover, #4c4d4e 0%, #303131 100%);
    background: -ms-radial-gradient(center, ellipse cover, #4c4d4e 0%, #303131 100%);
    height: 100%;
    padding: 100px 30px 30px;
}

.panel-bg > div {
    height: 100%;
}

.panel-header {
    position: absolute;
    height: 100px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 30px;
}

.panel-header .panel-branding {
    position: absolute;
    height: 100px;
    color: #D0D1D3;
    font-size: 30px;    
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    white-space: normal;
    padding: 15px 0;
    line-height: 1.1;
}

.panel-header .panel-branding img {
    max-height: 70px;
}

.panel-header .panel-branding div {
    margin-left: 15px;
}

.panel-header .panel-branding span {
    color: #fff;
    display: block;
    font-size: 33px;
}

.panel-header .panel-current-time {
    color: #E4E8EA;
    display: inline-block;
    font-size: 68px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.panel {
    background-color: #f0f0f0;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    height: 100%;
    overflow: hidden;
}

.panel:after {
    background: -moz-linear-gradient(top, rgba(240,240,240,0) 0%, rgba(240,240,240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,0)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(240,240,240,0) 0%,rgba(240,240,240,1) 100%); /* W3C */
    display: table;
    height: 50px;
    width: 100%;
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
}

.panel-3 .panel { width: 33.3333%; }

.panel h1 {
    margin: 0 10px 0 0;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
}
.panel h1:after {
    background: -moz-linear-gradient(left, rgba(240,240,240,0) 0%, rgba(240,240,240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(240,240,240,0)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(240,240,240,0) 0%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(240,240,240,0) 0%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(240,240,240,0) 0%,rgba(240,240,240,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(240,240,240,0) 0%,rgba(240,240,240,1) 100%); /* W3C */
    display: table;
    height: 400px;
    width: 25px;
    content: " ";
    position: absolute;
    top: 0;
    right: 10px;
}

.panel .section {
    padding: 0.4em 10px;
    position: relative;
    overflow: hidden;
    line-height: 1.2;
}

.panel .section:nth-child(odd)  { background-color: #fff; }

.panel .section:nth-child(odd):after {
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    display: table;
    height: 400px;
    width: 25px;
    content: " ";
    position: absolute;
    top: 0;
    right: 10px;
}

.panel .section:nth-child(even) { background-color: #e4e8ea; }

.panel .section:nth-child(even):after {
    background: -moz-linear-gradient(left, rgba(228,232,234,0) 0%, rgba(228,232,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(228,232,234,0)), color-stop(100%,rgba(228,232,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(228,232,234,0) 0%,rgba(228,232,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(228,232,234,0) 0%,rgba(228,232,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(228,232,234,0) 0%,rgba(228,232,234,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(228,232,234,0) 0%,rgba(228,232,234,1) 100%); /* W3C */
    display: table;
    height: 400px;
    width: 25px;
    content: " ";
    position: absolute;
    top: 0;
    right: 10px;
}

.panel .time {
    color: #428bca;
    padding-right: 10px;
    position: absolute;
}

.panel .person {
    display: block;
    margin-left: 3em;
    overflow: hidden;
    white-space: nowrap;
}

.panel .person .name { white-space: nowrap; }

.scroll-panel {
	height: 1px !important;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
	padding: 0px;
	position: relative;
}

.scroll {
	font-size: 40px;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	position: absolute;
	z-index: 10;
	top: -80px;
	bottom: 0px;
	right: 0px;
}

h3.button {
	color: #D0D1D3;
}

.blink {
    background: -moz-linear-gradient(left, #ff8900 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff8900), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ff8900 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ff8900 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ff8900 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to right, #ff8900 0%,#ffffff 100%); /* W3C */
}

/* Panel responsive design */
/*************************/

/* 1600 - 2560 */
@media only screen and (max-width: 2560px), only screen and (max-device-width: 2560px) {
    .panel h1       { font-size: 66px; }
    .panel .section { font-size: 56px; }
    .panel .panel-reload .section:first-child .person > .first-child { font-size: 66px; }
    .panel .panel-reload .section:first-child .person .name > .first-child { display: block; font-size: 56px; } 
}

/* 1200 - 1600 */
@media only screen and (max-width: 1599px), only screen and (max-device-width: 1599px) {
    .panel h1       { font-size: 56px; }
    .panel .section { font-size: 46px; }
    .panel .panel-reload .section:first-child .person > .first-child { font-size: 56px; }
    .panel .panel-reload .section:first-child .person .name > .first-child { display: block; font-size: 36px; } 
}

/* 1000 - 1200 */
@media only screen and (max-width: 1199px), only screen and (max-device-width: 1199px) {
    .panel h1       { font-size: 29px; }
    .panel .section { font-size: 19px; }
    .panel .panel-reload .section:first-child .person > .first-child { font-size: 29px; }
    .panel .panel-reload .section:first-child .person .name > .first-child { display: block; font-size: 17px; } 
}

/* ... - 1000 */
@media only screen and (max-width: 999px), only screen and (max-device-width: 999px) {
    .panel h1       { font-size: 24px; }
    .panel .section { font-size: 14px; }
    .panel .panel-reload .section:first-child .person > .first-child { font-size: 24px; }
    .panel .panel-reload .section:first-child .person .name > .first-child { display: block; font-size: 12px; } 
}