body {
	background-color: #ECEAEA;}
	
table#logo {
    background-color: #00A5F4;
    width: 100%;
    border: 0;}
	
.left{
    height: 120;
	width: 1%;}
	
.right {
    height: 120;
    width: 99%;}

h1.logo{
	width: 114px;
	height: 107px;
    background: url("../img/logo.png");}

h2.logo-text{
	padding-left: 30;
	font size=30; 
	color=#ffffff;}

h3.button {
	font size=18;
	color=#FFFFFF;
	align="center";}